<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438740995274-3sq1mv73putpqqtie0e64cif4g60qb62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438740995274-3sq1mv73putpqqtie0e64cif4g60qb62</string>
	<key>API_KEY</key>
	<string>AIzaSyBepQB2zAzCDq6Lv8JdRoqY4B9eXDo4Wbs</string>
	<key>GCM_SENDER_ID</key>
	<string>438740995274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-4a128</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-4a128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438740995274:ios:f7b1af15f3e662bb5b3833</string>
</dict>
</plist>